/**
 CSS style document for header and footer.
developed by Keawe Aquarian 260351368, Magda Prieto 261067065, Qi Yao 261051100
script date Nov,  2022
*/

body {
  padding-top: 92px;
  font-family: 'Times New Roman', Times, serif;

}

header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#phoneBtn {
  background-color: rgb(248, 250, 251);
  border: none;
  font-size: 18px;
  cursor: pointer;
}

#phoneBtn:hover {
  color: #0135a685;
}

.phonePopUp {
  background: white;
  border-radius: 6px;
}

.phonePopUp .fa {
  background: rgba(2, 153, 90, 0.852);
  color: white;
  border-radius: 50%;
}

.animation {
  background-color: rgba(51, 244, 164, 0.852);
}

.animation::before {
  border: 1px solid rgba(51, 244, 164, 0.852);
}

.animation::after {
  border: 1px solid rgba(51, 244, 164, 0.852);
}

.phonePopUp h2 {
  font-size: 35px;
  font-weight: 500;
}

.phonePopUp button {
  background-color: #7eb4fa8e;
  border: 0;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 6px 5px rgb(0, 0, 0, 0.2);
}


/* Sign in button opens sign in form */
.signInBtn {
  font-size: 16px;
  background-color: #FFFFFF;
  color: rgb(7, 7, 7);
  border: none;
  cursor: pointer;
}

.signInBtn:hover {
  color: #0135a685;
}

.language {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

/* Set a style for the submit/login button */
.logInForm .btn {
  background-color: #7eb4fa8e;
  color: black;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

/* Style log in */
.logInForm {
  background-color: white;
}

/* Style input fields */
.logInForm input[type=text],
.logInForm input[type=password] {
  border: none;
  background: #f1f1f1;

}

/* Hover login form*/
.logInForm input[type=text]:focus,
.logInForm input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* close button */
.logInForm .close {
  background-color: rgba(248, 60, 60, 0.536);
}

/* style buttons */
.logInForm .btn:hover,
.open-button:hover {
  opacity: 1;
  color: #0135a685;
}

/* Style the search field */
form.search input[type=text] {
  font-size: 15px;
  border: none;
  background-color: rgba(0, 0, 255, 0.038);

}

/* Style the submit button */
form.search button {
  background: #7a7a7a63;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

form.search button:hover {
  background: #0135a685;
  color: white;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 9%;

  padding: 0 2%;
}

.language:hover {
  color: #0135a685;
}

#phoneBtnSmall:hover {
  color: #0135a685;
}


nav {
  background: #0135a6c9;
}

nav a:hover {
  background: navy;
}

.nav-link {
  color: rgb(246, 246, 249);
  margin: 5px 30px;
  font-weight: 600;
  text-decoration: none;

}

.content {
  background: #E2EDF1;
  color: #1F3A43;
}

.social .fa {
  cursor: pointer;
  color: blue;

}
footer a{
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0%;
}

/* Tablet layout settings */
@media (max-width: 900px) {


  .popupLogIn {
    top: 120%;
    left: 35%;
  }

}

/* Mobile layout settings */
@media (max-width: 550px) {

  #phoneBtnSmall {
    background-color: white;
    border: none;
    cursor: pointer;
  }

  nav ul li {
    border: #f1f1f1;
    border-style: solid;
  }
}