/**
 CSS style document for home.html.
developed by Keawe Aquarian 260351368, Magda Prieto 261067065, Qi Yao 261051100
script date Nov,  2022
*/

body {
  padding-top: 92px;
  font-family: 'Times New Roman', Times, serif;

}


.servicesLink {
text-decoration: none;
color: black;
}


.firstList{
    
}

.firstList {
  list-style: upper-roman;
}

.secondList {
  list-style: upper-alpha;
}





/* Tablet layout settings */
@media (max-width: 900px) {


}

/* Mobile layout settings */
@media (max-width: 550px) {


}