/**
 CSS layout document for home.html.
developed by Keawe Aquarian 260351368, Magda Prieto 261067065, Qi Yao 261051100
script date Nov,  2022
*/

* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main img {
  width: 90%;
  padding-top: 3%;
}

.comments {
  width: 80%;
  margin-top: 30px;
}

.comments p {
  padding: 10px 0;
}

.journeys {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.journeysRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.journeysCol {
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: 0% 30px;
}

.journeysCol img {
  padding: 0%;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0%;
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.4s;
  cursor: pointer;
}

.title:hover {
  background: #7991f072;
}



table {
  width: 96%;
}

table tr td {
  padding: 8px;

}

table {
  margin: 5px 0;
  padding: 0;
  border-color: black;
  border: 1px;
  border-style: solid;
  border-collapse: collapse;
  margin-left: 12px;

}

table tr td {
  font-size: medium;
  border: 1px;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  color: white;
  background-color: #0135a685;
}

table tr:nth-child(1) {
  font-size: large;
  font-weight: 300;
  color: white;
  background-color: #0135a6c9;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 560px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
}



/* Popup*/
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* what pops up */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Fade action */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.services {
  width: 80%;
  margin: 30px auto;
  text-align: center;
  padding-top: 40px;
  max-width: 1200px;
}

.servicesRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.servicesCol {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: 0% 30px;
  background: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.servicesCol img {
  width: 100px;
}

.servicesTitle {
  margin: 0%;
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.4s;
  cursor: pointer;
}

.servicesTitle:hover {
  background: #7991f072;
}

article{
  width: 100%;
  padding-left: 20px;
}
#list{
  /* width: 100%; */
  display: flex;
  color: #021c53ac;
  width: 100%;
  
}

article h2{
  margin-left: 80px;
}
.firstList {
  padding-left: 150px;
  margin-top: 10px;
}

.secondList {
  padding-left: 30px;
}

.thirdList {
  padding-left: 30px;
}

.testimonial {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;

}

.testimonialRow {
  display: flex;
  flex-direction: row;
}

.testimonialCol {
  flex-basis: 44%;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 5%;
  text-align: left;
  padding: 20px;
  display: flex;
  background: #edeff9;
}

.testimonialCol img {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
  background: #faf8f8;

}

.testimonialCol p {
  padding: 0%;
}

.testimonialCol h3 {
  margin-top: 13px;
  text-align: right;
}


/* Tablet layout settings */
@media (max-width: 900px) {

  .firstList {
    padding-left: 50px;
  }

  .testimonial {
    width: 100%;

  }
}

@media (max-width: 700px) {

  .firstList {
    padding-left: 20px;
  }

}

/* Mobile layout settings */
@media (max-width: 550px) {

  main {
    padding-top: 40%;
  }

  .testimonialRow {
    flex-direction: column;
  }

  .journeysRow {
    flex-direction: column;
  }

  .journeysCol {
    margin-bottom: 20px;
  }
  #list{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #021c53ac;
    
  }

}