body{
padding: 0;
margin: 0;
font-family: 'Times New Roman', Times, serif;
}
p{
  margin:5px 0px;
  font-size: 12px;

}

h4{
  margin: 10px auto;
}
table{
  width: 100%;
  text-align: left;
}
.main-div{
  margin-top: 80px;
  display: flex;
padding: 0;
}

/* sidebar */
aside{
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ccd5f6;
  
}

aside img{
  width: 200px;
}

aside p{
  width: 200px;
  padding-bottom: 20px;
}


/* main section css */

.journeysRow{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.journeysCol{
width: 250px;
border-radius: 10px;
margin-bottom: 30px;
position: relative;
overflow: hidden;
margin: 0% 10px;
text-align: center;
margin-bottom: 20px;
}
.journeysCol img{
  padding: 0%;
  
  width: 100%;
  height: 100%;
}

.title{
  margin: 0%;
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.4s;
  cursor: pointer;
}

.title:hover{
  background: #7991f072;
}
main{
  padding: 20px;
  max-width: 870px; 
  position: relative;
}
main h2{
  color: #A61E23;
}

main .input-wid{
  text-decoration: underline;
  color: #2a72a9;
  width: 200px;
}

.main .table-flex{
  text-align: center;
}

/* top right link list */

main .numbers{
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  gap: 2px;
}
main .numbers div{
  width: 30px;
  height:30px;
  cursor: pointer;
  background-color: #A5D1F3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

}

main .numbers div:hover{
  background: #005AA8;
  
  margin-top: 5px;
}

.width{
  width: 100px;
}

/* submit-btn */
.submit-div{
  margin-top:20px;
  margin-bottom:40px;
  padding-left: 250px;
}
.submit-btn{ 
  width: 140px;
padding: 5px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid rgb(192, 192, 192);
}

.cal-img{
  width: 22px;
  position: relative;
top: 3px;
}

/* Contact Us PAge CSS */
.contact-page table p{
  margin: 2px 0px;
}



/* Tablet layout settings */
@media (max-width: 900px) {
main{
  margin-top: 5px;
}

aside{
  margin-top: 5px;
}

}

@media (max-width: 830px) {
  aside{
    width: 0;
    display:none;
  }
}


/* Mobile layout settings */
@media (max-width: 550px) {


  aside{
    width: 0;
    display:none;
  }

  main{
    width: 550px;
    margin-top: 180px;
    
  }

  main .input-wid{
    width: 120px;
    
  }




}

